#city{
    border: 2px solid black;
}
h3{
    text-align: left;
}
#info{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
#image{
    display: inline-block;
    width: 48%;
}
img{
    width: 90%;
    height: auto;
    margin: auto;
}
